.okay{
    background-image: url("neon-rain-by-dominique-van-velsen-3840x2160-v0-6nkd3vkuhzif1.webp");
    background-size: cover;
    background-position: center;    
    height: 700px;
    width: 100%;
    color: white;

}